server:
  port: ${DISCOVERY_PORT}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoint:
    health:
      probes:
        enabled: true
      group:
        readiness:
          include: readinessState
        liveness:
          include: livenessState
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework.security: INFO
    com.apollo.config.security: INFO
