server:
  port: ${GATEWAY_PORT}

spring:
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lowerCaseServiceId: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
  info:
    env:
      enabled: true
JWT_SECRET: ${JWT_SECRET}
info:
  app:
    name: gatewayserver
    description: Apollo Gateway Server Application
    version: 1.0.0

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO
